body {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 100;
}
.blur {
	opacity: 0.8;
}

.hidden-character {
  font-size: 1px;
  visibility: hidden;
}
.no-link {
  color: #4c9ed9;
}

span.tooltip {
	position: relative;
	top: -3px;
	font-size: 0.6em;
	margin-left: 6px;
	z-index: 2;
}

span.tooltip:after {
	height: 30px;
	left: -12px;
	font-size: 50%;
	top: -8px;
	font-size: 75%;
	position: relative;
}

span.tooltip:hover:before {
	content: attr(data-content);
	text-transform: none;
	text-indent: 0;
	letter-spacing: 0;
	font-weight: 300;
	padding: 0.4em 0.6em;
	line-height: 1.2;
	text-align: center;
	left: auto;
	margin-left: 4px;
	position: absolute;
	color: #333;
	background: #fff;

	/**CEE EDITS**/
	position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 10px;
  padding: 0.4em 0.6em;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
}

.tooltip:after {
	font-family: 'bpicons';
	speak: none;
	font-size: 0.3em;
	font-style: normal;
	font-weight: 200;
	font-variant: normal;
	text-transform: none;
	text-align: center;
	color: #4c9ed9;
	-webkit-font-smoothing: antialiased;

	content: "\e003";
	margin-right: -10px;
}


/**CEE EDITS**/
span.tooltip.t-aicee:hover:before {
	position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 10px;
  padding: 0.4em 0.6em;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
}

.page-inner {
	text-align: left;
	padding: 
}


.page-inner > section > p a {
	position: relative;
  text-decoration: none;
	color: #4c9ed9;
}

.quote {
	display: block;
	margin-top: 6px; 
}

/**CEE-EDITS**/
.profile img {
	-webkit-filter: grayscale(100%);
  filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.profile img:hover {    
  -webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.intro-content .h1-aicee {
  border-bottom: 2px solid #3b3b3b;
  width: 50%;
  margin: 0 auto;
  position: relative;
  padding: 5px;
}

.intro-content .h1-aicee::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3b3b3b;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.intro-content .h1-aicee:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.intro-content .h1-hiro {
  border-bottom: 2px solid #f8f8f8;
  width: 50%;
  margin: 0 auto;
  position: relative;
  padding: 5px;
}

.intro-content .h1-hiro::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f8f8f8;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.intro-content .h1-hiro:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@media screen and (max-width: 480px) {
	.page-inner {
    	padding: 4em 2em;
	}
}

@media screen and (min-width: 481px) and (max-width:780px) {
  .page-inner {
      padding: 2em 4em;
  }
}


.intro-content:hover .profile img {
  -webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.intro-content:hover .h1-aicee::before, .intro-content:hover .h1-hiro::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.underlined-aicee {
  /*border-bottom: 1px solid #fff;*/
  width: 50%;
  margin: 0 auto;
  position: relative;
  padding: 2px;
}

.underlined-aicee::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.underlined-aicee:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.underlined-hiro {
  /*border-bottom: 1px solid #3b3b3b;*/
  width: 50%;
  margin: 0 auto;
  position: relative;
  padding: 2px;
}

.underlined-hiro::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3b3b3b;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.underlined-hiro:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}






.tooltip2 {
  display: inline;
  position: relative;
  z-index: 999;
}

/* Trigger text */

.tooltip-item {
  /*background: rgba(0,0,0,0.3);*/
  color: #4c9ed9;
  cursor: pointer;
  display: inline-block;
  padding: 0 10px;
  padding: 0;
}

/* Gap filler */

.tooltip-item::after {
  content: '';
  position: absolute;
  width: 360px;
  height: 20px;
  bottom: 100%;
  left: 50%;
  pointer-events: none;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.tooltip2:hover .tooltip-item::after {
  pointer-events: auto;
}

.tooltip-item.aicee:hover {
  /*color: #fff;*/
  background: rgba(0,0,0,0.2);
}

/* Tooltip */

.tooltip-content {
  position: absolute;
  z-index: 9999;
  width: 360px;
  left: 50%;
  margin: 0 0 10px -180px;
  bottom: 100%;
  text-align: center;
  
  background: #2a3035;
  opacity: 0;
  cursor: default;
  pointer-events: none;
}

.tooltip-effect .tooltip-content {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: scale3d(0.7,0.3,1);
  transform: scale3d(0.7,0.3,1);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
}

.tooltip2:hover .tooltip-content {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translate3d(0,0,0) rotate3d(0,0,0,0);
  transform: translate3d(0,0,0) rotate3d(0,0,0,0);
}

/* Arrow */

.tooltip-content::after {
  content: '';
  top: 100%;
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #2a3035;
  border-width: 10px;
  margin-left: -10px;
}

/* Tooltip content*/

.tooltip-content.aicee img {
  position: relative;
  height: 200px;
  display: block;
  float: left;
  margin-right: 1em;
  border: 2px solid rgba(255,255,255,0.4);
  border-radius: 4px;
}

@media screen and (min-width: 1024px){
  .tooltip-content img {
    height: 300px !important;
  }
}

@media screen and (max-width: 480px){
  .tooltip-content img {
    height: 140px !important;
  }
}


.tooltip-content.hiro img {
  position: relative;
  height: 200px;
  display: block;
  float: left;
  margin-right: 1em;
  border: 2px solid rgba(0,0,0,0.4);
  border-radius: 4px;
}

.tooltip-item.hiro:hover {
  /*color: #fff;*/
  background: rgba(156, 156, 156, 0.2);
}

.tooltip-content.hiro {
    margin-left: -350px;
}

@media screen and (max-width: 480px){
  .tooltip-content.hiro {
    margin-left: -200px;
  }
  .tooltip-content.hiro::after {
    margin-left: 15px;
  }
  .tooltip-content img {
    height: 140px !important;
  }
}

@media screen and (min-width: 481px) and (max-width:637px){
  .tooltip-content.hiro {
    margin-left: -150px;
  }
  .tooltip-content.hiro::after {
    margin-left: -10px;
  }
  .tooltip-content img {
    height: 180px !important;
  }
}

@media screen and (min-width: 638px) and (max-width:1023px){
  .tooltip-content.hiro {
    margin-left: -150px;
  }
  .tooltip-content.hiro::after {
    margin-left: -10px;
  }
  .tooltip-content img {
    height: 180px !important;
  }
}

@media screen and (min-width: 1024px) and (max-width:1679px){
  .tooltip-content.hiro {
    margin-left: -350px;
  }
  .tooltip-content.hiro::after {
    margin-left: 150px;
  }
}

@media screen and (min-width: 1680px){
  .tooltip-content.hiro {
    margin-left: -550px;
  }

  .tooltip-content.hiro::after {
    margin-left: 365px;
  }
}


